<% provide(:title, 'ホーム画面') %>
<h1>ホーム画面</h1>

<%= link_to "アカウント登録情報編集", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-primary" %>
