<% provide(:title, '課題一覧画面') %>
<h1>課題一覧画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @problems.each do |problem| %>
      <li>
        <%= problem.name %>
        <%= problem.content %>
        <%#= link_to "編集する", edit_problem_path(problem), class: "btn btn-primary" %>
      </li>
    <% end %>
  </div>
</div>
