<% provide(:title, '進捗一覧画面') %>
<h1>進捗一覧画面</h1>
<% @ahievment = Achievment.new unless @ahievment%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @progresses.each do |progress| %>
      <li>
        <%= progress.user.id %>
        <%= progress.user.name %>
      </li>
    <% end %>
  </div>
</div>
