.time-title {
	margin: 15px 0px;
}

.content-items {
	position: relative;
	margin: 30px 0;
	padding: 20px 0;
	border: solid 3px #51cbce;
	border-radius: 8px;
}

.content-items .label-box {
	margin: 10px -10px;
}

.content-item {
	margin: 3px 0px 3px 0px;
}

.content-check {
	margin: 20px 0px;
}

.problem-title {
	position: absolute;
	display: inline-block;
	top: -25px;
}