<% provide(:title, '年度選択画面') %>

<div id="header"><!-- include header.html --></div>
<div class="container-fluid">
  <div class="content-box">
    <div class="row">
      <h2 class="page-title">年度選択</h2>
    </div><!-- row -->
    <% @lecture_years.each do |lecture_year| %>
      <% next if lecture_year.latest? %>
      <li>
        <%= link_to lecture_year.year, lecture_year_lecture_times_path(lecture_year),class: "btn btn-primary btn-lg col-7 col-lg-5" %>
      </li>
    <% end %>

  </div><!-- content-box -->

</div><!-- container-fluid -->
